/*
  font-family: 'Roboto 400 500 700 900', sans-serif;
  font-alternative: 'Raleway 700', sans-serif;
    
*/

:root {
  --header-text-color: #212121;
  --alt-text-color: #757575;
  --extra-text-color: #ffffff;
  --accent-text-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: var(--header-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ----------------------------СТУДИЯ----------------------------- */
/* ------------------------Шапка навигация------------------------ */
.header {
}

.header-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header-span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.header-nav {
}

.header-list {
}

.header-item {
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
}

.current-studio,
.current-portfolio,
.current-contact {
  color: #2196f3;
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

.header-contacts {
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--alt-text-color);
}

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}

.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--alt-text-color);
}

.header-tel:hover,
.header-tel:focus {
  color: #2196f3;
}

/* -----------------------Главный-контент------------------------ */
/* ----------------------------Герой----------------------------- */

.main {
}

.hero {
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--extra-text-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background: #2196f3;
}

/* -----------------------------Цели----------------------------- */

.goals-section {
}

.goals-title {
}

.goals-list {
}

.goals-item {
}

.goals-heading {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-text-color);
}

.goals-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

/* ---------------------------Деятельность------------------------- */

.activity {
}

.activity-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.activity-list {
}

.activity-picture {
}

/* -------------------------------Команда---------------------------- */

.team {
  background-color: #f5f4fa;
}

.team-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.team-list {
}

.team-item {
}

.team-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-text-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}

/* ---------------------------------Футер--------------------------- */

.footer {
  background: #2f303a;
}

.footer-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.footer-span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-address {
}

.footer-list {
}

.footer-item {
}

.footer-place {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail:hover,
.footer-mail:focus {
  color: #ffffff;
}

.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-tel:hover,
.footer-tel:focus {
  color: #ffffff;
}

/* -------------------------------ПОРТФОЛИО---------------------------- */
/* ------------------------ ---Главный-контент------------------------- */
/* -------------------------------Портфолио---------------------------- */

.portfolio {
}

/* задать скрытый заголовок */

.portfolio-title {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: #212121;
  background-color: #f5f4fa;
}

.current-all {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background: #2196f3;
}

/* --------------------------------Проекты------------------------------- */

.projects {
}

.projects-list {
}

.projects-item {
}

.projects-link {
}

.projects-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-text-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--alt-text-color);
}
